
  <nav class="navbar navbar-light bg-info" >
      <span class="nav-admin title">
        <%= link_to 'TestGuru', root_path %> | <%= t('.admin_panel') %>
      </span>

    <div class="nav-admin user">
      <%= t('welcome_html', user_name: current_user.first_name) %> Guru |
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    </div>
  </nav>

