<h1>The <%= @test_passage.test.title %> Test was Completed!</h1>

<% if @test_passage.successfully_completed? %>
  <p>Сorrect answers: <span class="green"><%= @test_passage.test_success %>%</span>. Test passed successfully.</p>
<% else %>
  <p>Сorrect answers: <span class="red"><%= @test_passage.test_success %>%</span>. Test failed.</p>
<% end %>

<%= link_to 'Test list', tests_path %>
