<div>
  <p>&copy; <%= current_year %> Olga Soloveva</p>
  <p><%= github_url('olsolov', 'test-guru') %> - Сервис для создания и прохождения тестов</p>
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', "http://thinknetica.com/", target: '_blank' %>
</div>
