// Place all the styles related to the test_passages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.green {
  color: green;
}

span.red {
  color: red;
}